<header class="bg-gray-800 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold">Pollería La Leñadora</h1>
    <nav>
      <ul class="flex space-x-4">
        <li>
          <a [routerLink]="['/']" fragment="hero" class="hover:text-gray-400"
            >Inicio</a
          >
        </li>
        <li>
          <a [routerLink]="['/']" fragment="menu" class="hover:text-gray-400"
            >Menú</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/']"
            fragment="contacto"
            class="hover:text-gray-400"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
